.restaurantDot{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #fff; */
    opacity: 0.9;
    width: 20px;
    height: 20px;
    left : -10px;
    top : -20px;
    border-radius: 100%;
    box-shadow: 0 0 1px 1px #aaa;
}

.restaurantDot::after,
.restaurantDot::before{
    --scale : 0;
    --translate-y : 0;
    --arraw-size : 10px;

    position: absolute;
    top : -10px;
    left : 50%;
    transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
    transition: transform 150ms;
}

.restaurantDot:hover::after,
.restaurantDot:hover::before,
.restaurantDot.selected::before,
.restaurantDot.selected::after{
    --scale : 1;
}

.restaurantDot::before{
    --translate-y : calc(-100% - var(--arraw-size));
    content : attr(data-tooltip);
    padding: 10px;
    font-size: 14px;
    border-radius: 3px;
    width: max-content;
    transform-origin: bottom center;
    box-shadow: 0 0 11px 1px #a2a2a2;
}

.restaurantDot.bad,
.restaurantDot.bad::before{
    background-color: var(--bad-color);
    color: #fff;
}

.restaurantDot.median,
.restaurantDot.median::before{
    background-color: var(--median-color);
    color: #3f3f3f;
}

.restaurantDot.good,
.restaurantDot.good::before{
    background-color: var(--good-color);
    color: #ffffff;
}

.restaurantDot::after{
    content : '';
    --translate-y : calc(-1 * var(--arraw-size));
    border : var(--arraw-size) solid transparent;
    transform-origin: top center;
}

.restaurantDot.bad::after{
    border-top-color: var(--bad-color);
}

.restaurantDot.median::after{
    border-top-color: var(--median-color);
}

.restaurantDot.good::after{
    border-top-color: var(--good-color);
}




.restaurantDot:hover,
.restaurantDot.selected {
    z-index: 1000;
    border: 2px solid #fff;
}

.restaurantDot:hover{
    z-index: 1001;
}

.hoverInfoRow{
    align-items: center;
    position: relative;
    width: 100%;
    height: 45px;
    font-size: 14px;
}

.hoverInfo {
    position: absolute;
    min-width: 180px;
    text-align: center;
    top: -60px;
    /* border-radius: 5px; */
    box-shadow: 0 0 8px 1px #3b3b3b;
    transition: opacity 0.5s;
    display: none;
}

.hoverInfo .restaurantName{
    flex: 1;
}

.hoverInfo .performance{
    display: flex;
    height: 100%;
    padding: 10px;
    align-items: center;
}

.arrowDown{
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -10px;
    width : 0;
    height : 0;
    border-left : 10px solid transparent;
    border-right : 10px solid transparent;
    /* border-top : 15px solid #007bfe; */
}

.restaurantDot:hover .hoverInfo,
.restaurantDot.selected .hoverInfo{
    display: block;
}