svg{
    width: 100%;
    height : 100%;
}

.xChartAxis text,
.yChartAxis text {
  font-size: 11px;
  fill: black;
}

.xChartAxis .tick text{
  /* transform: rotate(-45deg); */
  text-anchor: center;
}

.xLabel, .yLabel {
    fill: #9d9d9d;
    font-size: 10px;
    text-anchor: middle;
}

.nodata{
    height: 100%;
    align-items: center;
    justify-content: center;
    background: #ddd;
    border-radius: 3px;
    color: #818181;
    font-size: 18px;
    flex: 1;
    margin: 5px;
}

.nodata .messageIcon{
    font-size: 40px;
    margin: 5px;
}

.nodata .message{
    font-size: 16px;
    color: #898989;
}

#bar_tooltip{
    position: absolute;
    text-align: center;
    padding: 10px;
    font: 12px sans-serif;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    pointer-events: none;
    display: block;
    border: 1px solid #bcbcbc;
    min-width: 60px;
    background: rgb(255, 255, 255);
    color: #7777f4;
    opacity: 0.9;
}

.chartTitle{
    font-size: 14px;
    color: #959595;
    margin-top: 10px;
}