svg{
    width: 100%;
    height : 100%;
}

.xChartAxis text,
.yChartAxis text {
  font-size: 11px;
  fill: black;
}

.xChartAxis .tick text{
  transform: rotate(-45deg);
  text-anchor: end;
}

.xLabel, .yLabel {
    fill: #9d9d9d;
    font-size: 10px;
}