.percentageContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
}

.percentage{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid var(--normal-color);;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.indicator{
    position: absolute;
    bottom: 0;
    height: 0;
    width: 100%;
    background: var(--normal-color);;
    transition: height 0.5s;
    z-index: 0;
}