.logo{
    font-size: 36px;
    font-weight: bold;
    margin-right: 30px;
    color: #007bfe;
    padding: 0;
    text-transform: uppercase;
}

.header {
    padding: 0 20px;
    align-items: center;
    box-shadow: 0 0 4px;
}

.headerMenu{
    border-bottom: 1px solid;
    color: #707070;
}