.logo{
    font-size: 36px;
    font-weight: bold;
    margin-right: 30px;
    color: #81CAEF;
    padding: 0;
    text-transform: uppercase;
}

.header {
    padding: 0 20px;
    align-items: center;
    box-shadow: 0 0 4px;
    background: #222A36;
}

.headerMenu{
    color: #d1d1d1;
}