html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
}

#root{
    position: relative;
    height : 100%;
    width: 100%;
}

:root{
    --good-color : #28C86A;
    --median-color : #83ecf0;
    --bad-color : #FD3334;
    --normal-color : #2AAFB9;
    --font-color : #4C6972;
}