#SuggestList .suggest_filter_btn button{
    background: #fff;
    color: var(--normal-color);
    border: 1px solid var(--normal-color);;
    border-radius: 50px;
    margin: 0 10px 10px 0;
}

#SuggestList .dropdown-menu{
    max-height: 200px;
    overflow: auto;
}

#SuggestList .badge{
    color: #fff;
    background: var(--normal-color);;
    margin: 5px 10px;
}